extends ../layout
block title
    title Hestia - Perfis
    link(rel='stylesheet', href='/stylesheets/cardapio.css', type='text/css')


block content
    section
      .container
        h2.section-heading.text-center
          | Perfis
          br
          small Criação de perfis de funcionários
      hr
      .col-sm-10.col-sm-offset-1
        table.table.table-striped#lista-perfil
          tr
            th.col-sm-6 Perfil
            th.col-sm-2 Cadastros
            th.col-sm-2 Administrativo
            th.col-sm-2 Ações
          tr
            td
              .form-group
                input.form-control#inputNovoCardapio(type="text" placeholder="Nome do novo perfil")
            td
              .col-sm-1
                input(type="checkbox", title = "Ler")
              .col-sm-11
                Ler
              .col-sm-1
                input(type="checkbox", title = "Cadastrar")
              .col-sm-11
                Cadastrar
              .col-sm-1
                input(type="checkbox", title = "Editar")
              .col-sm-11
                Editar
            td
            td
block footer
    script.
    
