extends layout
block title
  title Hestia - Cadastrar Estabelecimento

block content
  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='/') Hestia
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='#about') Sobre
            li
              a.page-scroll(href='#services') Restaurantes
            li
              a.page-scroll(href='#client') Você
            li
              a.page-scroll(href='#contact') Contate-nos
            li
              a.page-scroll(href='/login') Entrar
        // /.navbar-collapse
      // /.container-fluid
    section#about
      .container
        h2.section-heading.text-left
          | Cadastrar
          br
          small Faça já o cadastro do seu restaurante e comece a usar nossos serviços
        br
        hr
        .row
        .row
          form(method='post')
            .col-sm-5.col-sm-offset-1
              .col-sm-10.col-sm-offset-1
                h3.text-center Dados Restaurante
              .form-group.col-sm-12
                input#nome-restaurante.form-control(type='text', required='', name='nomeRestaurante', placeholder='Nome do Restaurante')
              .form-group.col-sm-12
                input#cnpj-restaurante.form-control(type='text', pattern = '\\d{14}', title ='Ex.: 00.000.000/0001-00' required='', name='cnpj', placeholder='CNPJ')
              .form-group.col-sm-8
                input#email-restaurante.form-control(type='email', required='', name='email', placeholder='E-Mail', pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$")
              .form-group.col-sm-4
                input#telefone-restaurante.form-control(type="tel", pattern="\\([0-9]{2}\\) [0-9]{4,6}-[0-9]{3,4}$", required='', maxlength="15", name='telefone', placeholder='Telefone', title = "Ex: (99) 99999-9999")
              .form-group.col-sm-12
                input#endereco-restaurante.form-control(type='text', required='', name='endereco', placeholder='Endereço Completo do Restaurante')
              .form-group.col-sm-6
                input#cidade-restaurante.form-control(type='text', required='', name='cidade', placeholder='Cidade')
              .form-group.col-sm-6
                input#estado-restaurante.form-control(type='text', required='', name='estado', placeholder='Estado')
              br
              br
            .col-sm-4.col-sm-offset-1
              .col-sm-10.col-sm-offset-1
                h3.text-center Dados de Acesso
              .form-group.col-sm-12
                input#nome-dono.form-control(type='text', required='', name='nomeDono', placeholder='Nome do Responsável pelo Restaurante')
              .form-group.col-sm-12
                input#login-dono.form-control(type='text', required='', name='login', placeholder='Login')
              .form-group.col-sm-12
                input#senha-dono.form-control(type='password', required='', pattern= '(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$', name='senha', placeholder='Senha', title = "A Senha deve conter 3 dos seguintes:\nMaiúsculas, Minúsculas, Números ou Caracteres especiais. \nNo minimo 8 caracteres")
              br
              br
            .col-sm-2.col-sm-offset-10
              input.btn.btn-default(type='submit', value='Cadastrar')
    // jQuery
    script(src='/javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/javascripts/bootstrap.min.js')
    script.
    // script src="/javascripts/cadastrarEstabelecimento.js"></script
