<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Hestia Soluções">

    <title>Hestia - Cadastrar</title>

    <!--link rel="shortcut icon" href = "/images/icone.icon"-->
    <link rel="icon" type="image/png" href="/images/icone.png" />
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Hestia</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" href="#about">Sobre</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#services">Restaurantes</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#client">Você</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#contact">Contate-nos</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/login">Entrar</a>
                  </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="about">
        <div class="container">
            <h2 class="section-heading text-left">Cadastrar<br /><small>Faça já o cadastro do seu restaurante e comece a usar nossos serviços</small></h2>
            <br/>
            <hr>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <h3 class="text-center">Dados Restaurante</h3>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <h3 class="text-center">Dados de Acesso</h3>
                </div>
            </div>
            <div class="row">
                <form>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control" id="nome-restaurante" placeholder="Nome do Restaurante"/>
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control" id="cnpj-restaurante" placeholder="CNPJ"/>
                        </div>
                        <div class="form-group col-sm-8">
                            <input type="text" class="form-control" id="email-restaurante" placeholder="E-Mail"/>
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" id="telefone-restaurante" placeholder="Telefone"/>
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control" id="endereco-restaurante" placeholder="Endereço Completo do Restaurante"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="cidade-restaurante" placeholder="Cidade"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="estado-restaurante" placeholder="Estado"/>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control" id="nome-dono" placeholder="Nome do Responsável pelo Restaurante"/>
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control" id="login-dono" placeholder="Login"/>
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="password" class="form-control" id="senha-dono" placeholder="Senha"/>
                        </div>
                    </div>
                    <div class="col-sm-2 col-sm-offset-10">
                        <button type="input" class="btn btn-default">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
