extends layout
block title
  title Hestia - Cadastrar Estabelecimento

block content
    section#about
      .alert.alert-warning.alert-dismissible.fade.in(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
        strong Erro!
        |  Erro ao realizar o cadastro de restaurante

      .container
        div.alert.alert-warning.fade.in.hidden(role='alert')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          strong Erro!
          |  Erro ao realizar o cadastro de funcionário.
        h2.section-heading.text-left
          | Cadastrar
          br
          small Faça já o cadastro do seu restaurante e comece a usar nossos serviços
        br
        hr
        .row
        .row
          form(method='post')
            .col-sm-5.col-sm-offset-1
              .col-sm-10.col-sm-offset-1
                h3.text-center Dados Restaurante
              .form-group.col-sm-12
                input#nome-restaurante.form-control(type='text', name = 'nomerestaurante', required='', placeholder='Nome do Restaurante')
              .form-group.col-sm-5
                input#cnpj-restaurante.form-control(type='text', name = 'cnpj', pattern = '\\d{14}', title ='Ex.: 00.000.000/0001-00', required='', maxlength="14", placeholder='CNPJ')
              .form-group.col-sm-7
                input#email-restaurante.form-control(type='email', name = 'email', required='', placeholder='E-Mail', pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$", title ='Ex.: exemplo@email.com')
              .form-group.col-sm-5
                input#cep-restaurante.form-control(type="text", name = 'cep', pattern="\\d{8}", required='', maxlength="9", placeholder='CEP', title = "Ex: 11111-111")
              .form-group.col-sm-7
                input#telefone-restaurante.form-control(type="tel", name = 'telefone', pattern="\\([0-9]{2}\\) [0-9]{4,6}-[0-9]{3,4}$", required='', maxlength="15", placeholder='Telefone', title = "Ex: (99) 99999-9999")
              .form-group.col-sm-9
                input#cidade-restaurante.form-control(type='text', name = 'cidade', required='', placeholder='Cidade')
              .form-group
              select#estado-restaurante.form-control.col-sm-9(title = "Estado", name = 'estado',)
               option(value='AL') AL
               option(value='AP') AP
               option(value='AM') AM
               option(value='BA') BA
               option(value='CE') CE
               option(value='DF') DF
               option(value='ES') ES
               option(value='GO') GO
               option(value='MA') MA
               option(value='MT') MT
               option(value='MS') MS
               option(value='MG') MG
               option(value='PA') PA
               option(value='PB') PB
               option(value='PR') PR
               option(value='PE') PE
               option(value='PI') PI
               option(value='RJ') RJ
               option(value='RN') RN
               option(value='RS') RS
               option(value='RO') RO
               option(value='RR') RR
               option(value='SC') SC
               option(value='SP') SP
               option(value='SE') SE
               option(value='TO') TO     
              .form-group.col-sm-12
                input#endereco-restaurante.form-control(type='text', name = 'endereco', required='', placeholder='Endereço Completo')
              br
              br
            .col-sm-4.col-sm-offset-1
              .col-sm-10.col-sm-offset-1
                h3.text-center Dados de Acesso
              .form-group.col-sm-12
                input#nome-dono.form-control(type='text', name='nomeDono', required='', placeholder='Nome do Responsável pelo Restaurante')
              .form-group.col-sm-12
                input#login-dono.form-control(type='text', name='login', required='', placeholder='Login')
              .form-group.col-sm-12
                input#senha-dono.form-control(type='password', name='senha', required='', pattern= '(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$', placeholder='Senha', title = "A Senha deve conter 3 dos seguintes:\nMaiúsculas, Minúsculas, Números ou Caracteres especiais. \nNo minimo 8 caracteres")
              .col-sm-2.col-sm-offset-4
                input.btn.btn-default(type='submit', value='Cadastrar')
block footer
  script.
    $('.alert').hide();
    var url = window.location.href;
    if(url.indexOf("?status=fail") != -1)
    {
      $(".alert").show();
    }
