doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Hestia Soluções')
    title Hestia - O Restaurante em suas mãos
    // link rel="shortcut icon" href = "/images/icone.icon"
    link(rel='icon', type='image/png', href='/images/icone.png')
    // Bootstrap Core CSS
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css')
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css', type='text/css')
    // Plugin CSS
    link(rel='stylesheet', href='/stylesheets/animate.min.css', type='text/css')
    // Custom CSS
    link(rel='stylesheet', href='/stylesheets/creative.css', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='#page-top') Hestia
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='/Sobre') Sobre
            li
              a.page-scroll(href='#services') Serviços
            li
              a.page-scroll(href='#contact') Contato
            - if(user.name == null)
              li
                a.page-scroll(href='/login') Entrar
            - if(user.name != null)
              ul.nav.navbar-nav.navbar-right
                li
                  a.page-scroll.dropdown-toggle(data-toggle='dropdown', href="#")
                    | #{user.name}
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/funcionario')  Area Logada
                    li
                      a(href='/logout') Logout
        // /.navbar-collapse
      // /.container-fluid
    header
      .header-content
        .header-content-inner
          h1
            | Hestia
          h2
            | O Restaurante em suas mãos
            hr
          a.btn.btn-default.btn-xl.wow.tada(href='#services') Saiba mais
    section#services.bg-primary
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Para o Restaurante
            hr.primary
      .bg-primary
        .row
          .col-lg-4.col6.text-center
            .service-box
              i.fa.fa-4x.fa-bolt.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3 Agilidade
              p.text-muted Atendimento automatizado
          .col-lg-4.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-clock-o.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3 Tempo
              p.text-muted Menor tempo de espera
          .col-lg-4.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-money.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3 Dinheiro
              p.text-muted Redução custos e maior receita
          .col-lg-4.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-pie-chart.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3 Business Intelligence
              p.text-muted Dados estatísticos online
          .col-lg-4.col-md-6.text-center
             .service-box
             i.fa.fa-4x.fa-ticket.wow.bounceIn(data-wow-delay='.1s')
             h3 Fidelização
             p.text-muted Presenteie o cliente com promoções
          .col-lg-4.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-shield.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3 Segurança
              p.text-muted Para você e para os seus clientes
    section#services.bg-primary
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Para o Cliente
            hr.primary
      .bg-primary
        .row
          .col-lg-4.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-mobile.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3 Aplicativo Hestia
              p.text-muted Liberdade e autonomia em mãos
          .col-lg-4.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-qrcode.wow.bounceIn(data-wow-delay='.1s')
              h3 QR Code
              p.text-muted Identifica a mesa e valida o acesso após a leitura
          .col-lg-4.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-cutlery.wow.bounceIn(data-wow-delay='.1s')
              h3 Cardápio no Celular
              p.text-muted Faça o pedido e acompanhe em tempo real
          .col-lg-4.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-credit-card.wow.bounceIn(data-wow-delay='.1s')
              h3 Pagamento
              p.text-muted Feche a conta e pague via aplicativo
          .col-lg-4.col-md-6.text-center
              .service-box
              i.fa.fa-4x.fa-comment.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3 Feedback
              p.text-muted A opinião do cliente faz a diferença
    aside.bg-dark
      .container.text-center
        .call-to-action
          h2 Se interessou? Cadastre-se agora!
          a.btn.btn-default.btn-xl.wow.tada(href='/cadastrar') Registrar
    section#contact
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Canais de Comunicação
            hr.primary
            p.text-muted Estamos sempre prontos para atender você seja por telefone ou email
          .col-lg-4.col-lg-offset-2.text-center
            i.fa.fa-phone.fa-3x.wow.bounceIn
            p.text-muted 0800-728-7378
          .col-lg-4.text-center
            i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
            p.text-muted
             a(href='mailto:your-email@your-domain.com') ajuda@hestia.com.br
    // jQuery
    script(src='/javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/javascripts/bootstrap.min.js')
    // Plugin JavaScript
    script(src='/javascripts/jquery.easing.min.js')
    script(src='/javascripts/jquery.fittext.js')
    script(src='/javascripts/wow.min.js')
    // Custom Theme JavaScript
    script(src='/javascripts/creative.js')
