- var userLogged = (user && user.name)?true:false;

doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Hestia Soluções')
    block title
    // link rel="shortcut icon" href = "/images/icone.icon"
    link(rel='icon', type='image/png', href='/images/icone.png')
    // Bootstrap Core CSS
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css')
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css', type='text/css')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='/stylesheets/bootstrap-select.css', type = 'text/css')
    // Plugin CSS
    link(rel='stylesheet', href='/stylesheets/animate.min.css', type='text/css')
    // Custom CSS
    link(rel='stylesheet', href='/stylesheets/login.css', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

  body#page-top
    div.container-fluid

      nav#mainNav.navbar.navbar-default.navbar-fixed-top
        // Brand and toggle get grouped for better mobile display
        div.navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='/') Hestia
        - if(user.name != null)
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
              li
                a.page-scroll.dropdown-toggle(data-toggle='dropdown', href="#")
                  | Cadastros
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/funcionario') Funcionarios
                  li
                    a(href='/cardapio') Cardapio
              li
               a.page-scroll.dropdown-toggle(data-toggle='dropdown', href="#")
                  | Administrativo
                  span.caret
               ul.dropdown-menu
                  li
                    a(href='/restaurante') Restaurante
              li
                a.page-scroll(href='#') B.I.
              li
                a.page-scroll(href='#') Contate-nos
            ul.nav.navbar-nav.navbar-right
              li
                a.page-scroll.dropdown-toggle(data-toggle='dropdown', href="#")
                  | #{user.name}
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/funcionario') Area Logada
                  li
                    a(href='/logout') Logout
        - if(user.name == null)
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.page-scroll(href='#about') Sobre
              li
                a.page-scroll(href='#services') Restaurantes
              li
                a.page-scroll(href='#client') Você
              li
                a.page-scroll(href='#contact') Contate-nos
              li
                a.page-scroll(href='/login') Entrar
      block content


    div.footer
      script(src='/javascripts/jquery.js')
      // Bootstrap Core JavaScript
      script(src='/javascripts/bootstrap.min.js')
      // Bootstrap Growl-Jquery
      script(src='/javascripts/jquery.bootstrap-growl.min.js')    
      // Latest compiled and minified JavaScript
      script(src='/javascripts/bootstrap-select.js')
      // (Optional) Latest compiled and minified JavaScript translation files
      //script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/i18n/defaults-*.min.js')
      script.
        var url = window.location.href;
      block footer
      script.
        $(document).ready(function(){
          debugger;
          var alerta = !{alert};
          if (alerta.typeMsg != "null")
          {
            msg = alerta.msg;
            config = {
              ele: 'body', // which element to append to
              type: alerta.typeMsg, // (null, 'info', 'danger', 'success')
              offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
              align: 'center', // ('left', 'right', or 'center')
              width: 750, // (integer, or 'auto')
              delay: 4000, // Time while the message will be displayed. It's not equivalent to the *demo* timeOut!
              allow_dismiss: true, // If true then will display a cross to close the popup.
              stackup_spacing: 10 // spacing between consecutively stacked growls.
            };
            $.bootstrapGrowl(msg, config);
          }
        });
