doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Hestia Soluções')
    title Hestia - Login
    link(rel='icon', type='image/png', href='/images/icone.png')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/login.css', type='text/css')
  body
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='/') Hestia
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='#about') Sobre
            li
              a.page-scroll(href='#services') Restaurantes
            li
              a.page-scroll(href='#client') Você
            li
              a.page-scroll(href='#contact') Contate-nos
            li
              a.page-scroll(href='/login') Entrar
        // /.navbar-collapse
      // /.container-fluid
    section#about
      .container
        center
          img.img-responsive(src='/images/logo/logo2-.png', width='200px', height='200px', alt='Hestia')
        .row
          .col-sm-4.col-sm-offset-1
            h2.section-heading.text-center Cadastrar
            hr.text-center
            p.text-center
              | Ainda não fez o cadastro ?
              br
              | Registre-se e comece a usar nossos serviços
            a.btn.btn-default.col-xs-12(type='submit', href='/cadastrar') Cadastrar
          .col-sm-4.col-sm-offset-2
            h2.section-heading.text-center Login
            hr.text-center
            form(method='post')
              div
                input#login.form-control(type='text', required='', name='login', placeholder='Login')
              div
                input#senha.form-control(type='password', required='', name='senha', placeholder='Senha')
              .text-center
                .checkbox
                  label
                    input(type='checkbox')
                    | Lembre-me
              input.btn.btn-default.col-xs-12(type='submit', value='Entrar')
