extends layout
block title
    title Hestia - Login

block content
    section#about
      .alert.alert-success.alert-dismissible.fade.in.hidden#cadastrado(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
        strong Cadastrado!
        |  Estabelecimento cadastrado com sucesso! Pronto para logar!
      .alert.alert-info.alert-dismissible.fade.in.hidden#logout(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
        strong Volte sempre!
        |  Você fez Logout !
      .alert.alert-warning.alert-dismissible.fade.in.hidden#authorization(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
        strong Login necessário!
        |  É necessário fazer o login para acessar esse conteúdo
      .alert.alert-warning.alert-dismissible.fade.in.hidden#notauthorized(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
        strong Usuário não encontrado!
        |  Tente novamente
      .container
        center
          img.img-responsive(src='/images/logo/logo2-.png', width='200px', height='200px', alt='Hestia')
        .row
          .col-sm-4.col-sm-offset-1
            h2.section-heading.text-center Cadastrar
            hr.text-center
            p.text-center
              | Ainda não fez o cadastro ?
              br
              | Registre-se e comece a usar nossos serviços
            a.btn.btn-default.col-xs-12(type='submit', href='/cadastrar') Cadastrar
          .col-sm-4.col-sm-offset-2
            h2.section-heading.text-center Login
            hr.text-center
            form(method='post')
              div
                input#login.form-control(type='text', required='', name='login', placeholder='Login')
              div
                input#senha.form-control(type='password', required='', name='senha', placeholder='Senha')
              .text-center
                .checkbox
                  label
                    input(type='checkbox')
                    | Lembre-me
              input.btn.btn-default.col-xs-12(type='submit', value='Entrar')
block footer
  script.
    //$('.alert').hide();
    var url = window.location.href;
    if(url.indexOf("?status=cadastrado") != -1)
    {
      $("#cadastrado").removeClass("hidden");
    }else if(url.indexOf("?status=logout") != -1){
      $("#logout").removeClass("hidden");
    }else if(url.indexOf("?status=sempermissao") != -1){
      $("#authorization").removeClass("hidden");
    }else if(url.indexOf("?status=NOTAUTHORIZED") != -1){
      $("#notauthorized").removeClass("hidden");
    }
    
