doctype html
html(lang='pt-br')
extends layout
block title
      head
        title Hestia - Sobre
        //CSS da aba
        link(rel='stylesheet', href='/stylesheets/sobre.css', type='text/css')
      body
        .container
          header
          br
          br
          .tabs.effect-3
            input#tab-1(type='radio', name='tab', checked='checked')
            span(href='#tab-item-1') Quem somos
            input#tab-2(type='radio', name='tab')
            span(href='#tab-item-2') Teste 2
            input#tab-3(type='radio', name='tab')
            span(href='#tab-item-3') Teste 3
            input#tab-4(type='radio', name='tab')
            span(href='#tab-item-4') Teste 4
            input#tab-5(type='radio', name='tab')
            span(href='#tab-item-5') Teste 5
            .line.ease
            // tab-content
            .tab-content
              section#tab-item-1
                h1 Aba 1
              section#tab-item-2
                h1 Aba 2
              section#tab-item-3
                h1 Aba 3
              section#tab-item-4
                h1 Aba 4
              section#tab-item-5
                h1 Aba 5
