#wrapper{
}

#principal{
    margin-top: 0.6em;
  height: 100%;
}

#sidebar-wrapper{
    margin-top: 0.6em;
    margin-left: -1.2em;
    height: 100%;
    overflow-y: auto;
    background: #C84C00;
}

.sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: white;
  font-weight: bold;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    cursor: default;
}

#about{
  padding: 5em 2em;
}
#container-cardapio{
  padding-top: 1em;
}

.panel-hestia{
  text-align: center;
  padding-top: 2em;
  border: 1px solid #C84C00 !important;
  font-size: 1.2em;
  margin-bottom: 0px !important;
}

.panel-hestia:hover{
  box-shadow: 5px 5px 3px rgba(200, 76, 0, 0.5);
  border: 2px solid #C84C00 !important;
  cursor: pointer;
  border-bottom-right-radius: 0px !important;
}
.panel-hestia:hover .panel-footer{
  margin-top:0em !important;
}

.panel-hestia .panel-footer{
  background-color: white !important;
  margin-top:2em;
  font-size: 0.8em;
}

#btnDuplicar{
  margin-left: 13.7em !important;
  margin-top:-12em !important;
  border-radius: 0 !important;
}
/*.btn-group-cardapio{
  position:absolute;
  margin-bottom:-3.3em !important;
  right: -3.3em;
}*/

.delete-prato{
  width:0.5em !important;
  height:0.5em !important;
  background-color: red;
  color: white;
  position: relative;
  top:1.7em;
  right:1.4em;
  border: none !important;
  padding-bottom: 1.5em !important;
  padding-right: 1em !important;
}
.pratoOnList{
  margin-bottom:-1.7em !important;
}
