extends ../layout
block title
    title Hestia - Editar Cardapio
    link(rel='stylesheet', href='/stylesheets/cardapio.css', type='text/css')

    
block content
    hr
    div.row#wrapper
        div.col-sm-12.col-md-4.col-lg-3#sidebar-wrapper
          ul.sidebar-nav
            li.sidebar-brand(text-align="center")
                a(href='#') ACOMPANHAMENTOS
            li
                a#addAcompanhamento(href='#') Adicionar acompanhamento
                form.hidden.form-inline#inputAcompanhamento(role="form")
                    div
                        label.sr-only(for='novoAcompanhamento') Acompanhamento
                        input#novoAcompanhamento(type="text")
                        button.btn.btn-default#addNovoAcompanhamento(type="submit") Ok
        div.col-sm-12.col-md-8.col-lg-9#principal
            ul.nav.nav-tabs
                li.active
                    a(href="#") +
            div.col.col-sm-4#form
                h2 Adicionar novo
                form(role="form")
                    div.form-group
                        label(for="nome") Nome:
                        input.form-control(type="text")#txtNome
                    div.form-group
                        label(for="Preco") Preço:
                        input.form-control(type="text")#txtPreco
                    div.form-group
                        label(for="descricao") Breve descrição:
                        textarea.form-control(rows="3")#txtDescricao
                    button.btn.btn-default(type="submit") Salvar
            div.col.col-sm-8#visualizar
                    
      
block footer
    script.
        var cardapio;
        $(document).ready(function(){
            cardapio = !{cardapio};
            for(x in cardapio.acompanhamentos){
                addAcompanhamento(cardapio.acompanhamentos[x]);
            }
        });
        $("#wrapper").height( $(window).height() - 50); 
        $("#principal").width( $("#principal").width() + 16.5);
        $("#addAcompanhamento").click(function(){
            $("#inputAcompanhamento").removeClass("hidden");
            $("#addAcompanhamento").addClass("hidden");
        });
        $("#addNovoAcompanhamento").click(function(){
            var acompanhamento = document.getElementById('novoAcompanhamento').value;
            $.post("/cardapio/acompanhamento", {acompanhamento: acompanhamento, nome_cardapio: cardapio.nome}).then(function(data){
                if(data == "cadastrado"){
                    cardapio.acompanhamentos.push(acompanhamento);
                    addAcompanhamento(acompanhamento);
                }
            });
        });
        function addAcompanhamento(acompanhamento){
            var html = '<li><a href="#">' + acompanhamento + '</a></li>';
            $(".sidebar-nav").append(html);
        }
