extends ../layout
block title
    title Hestia - Editar Cardapio
    link(rel='stylesheet', href='/stylesheets/cardapio.css', type='text/css')

    
block content
    hr
    div.modal.fade#modalNewCategoria(role="dialog")
        div.modal-dialog.modal-sm
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal") &times;
                    h4.modal-title Nova Categoria
                div.modal-body
                    form(role="form")
                        div.form-group
                            label(for="nome") Nome:
                            input.form-control(type="text")#txtNovaCategoria
                        button.btn.btn-default(type="button" data-dismiss="modal" onclick="newCategoria()") Adicionar
    div.modal.fade#modalNewAcompanhamento(role="dialog")
        div.modal-dialog.modal-sm
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal") &times;
                    h4.modal-title Novo Acompanhamento
                div.modal-body
                    form(role="form")
                        div.form-group
                            label(for="nome") Nome:
                            input.form-control(type="text")#novoAcompanhamento
                        div.form-group
                            label(for="preco") Preço:
                            input.form-control.currency(type="number" value = "0" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" required)#novoAcompanhamentoPreco
                        button.btn.btn-default#addNovoAcompanhamento(type="button" data-dismiss="modal") Adicionar
        
    div.row#wrapper
        div.col-sm-12.col-md-3.col-lg-3#sidebar-wrapper.sideAcompanhamentos
          ul.sidebar-nav#acompanhamentos
            li.sidebar-brand(text-align="center")
                a(href='#') ACOMPANHAMENTOS
            li
                a#addAcompanhamento(href='#' data-toggle="modal" data-target="#modalNewAcompanhamento") Adicionar acompanhamento
                
        div.col-sm-12.col-md-9.col-lg-9#principal
            ul.nav.nav-tabs#categorias
                li
                    a#btnNewCategoria(data-toggle="modal" data-target="#modalNewCategoria") +
            div.col.col-sm-8#form
                h2 Adicionar novo prato
                form(role="form")
                    div.col.col-sm-6
                        div.form-group
                            label(for="nome") Nome:
                            input.form-control(type="text" required)#txtNome
                        div.form-group
                            label(for="Preco") Preço:
                            input.form-control.currency(type="number" value = "0" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" required)#txtPreco
                        div.form-group
                            label(for="descricao") Breve descrição:
                            textarea.form-control(rows="3")#txtDescricao
                    div.col.col-sm-6
                        div.form-group
                            label(for="numeroDeAcompanhamentos") Acompanhamentos inclusos:
                            select.form-control#numeroDeAcompanhamentos
                                  option(value="0") 0
                                  option(value="1") 1
                                  option(value="2") 2
                                  option(value="3") 3
                                  option(value="4") 4
                                  option(value="5") 5
                                  option(value="6") 6
                        div.form-group
                            label(for="numeroDeAcompanhamentos") Acompanhamentos Disponiveis:
                            select.form-control#acompanhamentosDisponiveis(multiple="true" size="7")
                            p
                     button.btn.btn-default#btnSalvarPrato Adicionar
                     button.btn.btn-default#btnLimpar(onclick="resetForm()") Limpar
            div.col.col-sm-4
                h2#visualizar
                div.list-group#lista-pratos
      
block footer
    script.
        if(screen.width > 720){
          $(".sideAcompanhamentos").css("width", "21%");
        }
        var arrayOfPratos=[];
        var cardapio = {};
        $(document).ready(function(){
            cardapio = !{cardapio};
            for(x in cardapio.acompanhamentos){
                addAcompanhamento(cardapio.acompanhamentos[x]);
            }
            //<button type="button" class="list-group-item">Cras justo odio</button>

            for(x in cardapio.categorias){
                addCategoria(cardapio.categorias[x].nome);
                var auxArray = []
                for(y in cardapio.categorias[x].pratos){
                    auxArray.push(cardapio.categorias[x].pratos[y]);
                    
                }
                arrayOfPratos[cardapio.categorias[x].nome]=[];
                arrayOfPratos[cardapio.categorias[x].nome].push(auxArray);
            }           
            if($("#acompanhamentosDisponiveis option").length == 0){
                $("#acompanhamentosDisponiveis").append("<option class='removerInutil'>Clique nos acompanhamentos</option>");
                $("#acompanhamentosDisponiveis").append("<option class='removerInutil'>na lateral esquerda para adicionar</option>");
                $("#acompanhamentosDisponiveis").append("<option class='removerInutil'>na lista</option>");
            }
            $('#visualizar').text($('#categorias .active').find('a').text());
            for(x in arrayOfPratos[$('#categorias .active').find('a').text()][0]){
                addPrato(arrayOfPratos[$('#categorias .active').find('a').text()][0][x]);
            }
            
            //add pratos
            $('#btnSalvarPrato').click(function(){
                if($('#txtNome').val() == '' || $('#txtPreco').val() ==''){
                    //TODO Adicionar alerta 
                    console.log("Missing parameters");
                }else{
                    var editarPrato = "";
                    if($("#btnSalvarPrato").text() == "Salvar"){
                        editarPrato = $("#txtNome").find("span").text();
                        for(x in arrayOfPratos[$("#visualizar").text()]){
                            if(arrayOfPratos[$("#visualizar").text()][x].nome == editarPrato){
                                arrayOfPratos[$("#visualizar").text()].splice(x,1);
                            }
                        }
                        $(".pratoOnList").each(function(i){
                            if($(this).find(".name").text() == editarPrato){
                                $(this).remove();
                            }
                        })
                    }
                    if($('.removerInutil').length >0){
                        $("#acompanhamentosDisponiveis").empty();
                    }
                    var prato = {
                        'nome': $('#txtNome').val(),
                        'preco': $('#txtPreco').val(),
                        'descricao': $('#txtDescricao').val(),
                        'numeroDeAcompanhamentos': $('#numeroDeAcompanhamentos').val(),
                        'acompanhamentos':[]
                    }
                    $("#acompanhamentosDisponiveis option").each(function(aux){
                        var auxAcompanhamento = {
                          "nome": $(this).text().slice(0,$(this).text().indexOf("/")),
                          "preco": $(this).text().slice($(this).text().indexOf("/")+1,$(this).text().length)
                        };
                        prato.acompanhamentos.push(auxAcompanhamento);
                    });
                    var auxCategoria = $('#categorias .active').find('a').text();
                    $.post("/cardapio/prato", {prato: JSON.stringify(prato), nome_categoria: auxCategoria, nome_cardapio: cardapio.nome, editar_prato: editarPrato}).then(function(data){
                        alerta = data;
                        config.type = alerta.typeMsg;
                        $.bootstrapGrowl(alerta.msg, config);
                        if(alerta.typeMsg == "success"){
                            resetForm();
                            arrayOfPratos[auxCategoria].push(prato);
                            addPrato(prato);
                        }else{
                            //apontar erro
                        }
                    });
                }
            });
        });
        
        
        function resetForm(){
            if($("#btnSalvarPrato").text() != "Adicionar"){
                $("#btnSalvarPrato").text("Adicionar");
                $("#btnLimpar").text("Limpar");
            }
            $("#txtNome").empty();
            $('#txtNome').val('');
            $('#txtPreco').val('');
            $('#txtDescricao').val('');
            $('#numeroDeAcompanhamentos').val(0);
            $("#acompanhamentosDisponiveis").empty();
            $("#acompanhamentosDisponiveis").append("<option class='removerInutil'>Clique nos acompanhamentos</option>");
            $("#acompanhamentosDisponiveis").append("<option class='removerInutil'>na lateral esquerda para adicionar</option>");
            $("#acompanhamentosDisponiveis").append("<option class='removerInutil'>na lista</option>");
        }
        //trocar de categoria
        $('#categorias').on('click','.categoria',function(e){
            $('.categoria').removeClass("active");
            $(this).addClass("active");
            resetForm();
            $('#visualizar').text($(this).find('a').text());
            $("#lista-pratos").empty();
            for(x in arrayOfPratos[$(this).find('a').text()][0]){
                addPrato(arrayOfPratos[$(this).find('a').text()][0][x]);
            }
        });
        
        //adicionar acompanhamento no prato
        $("#acompanhamentos").on('click','.acompanhamento', function(e){
            var flag = false;
            
            var auxAcompanhamento = $(this).find("a").text();
            
            if($('.removerInutil').length >0){
                $("#acompanhamentosDisponiveis").empty();
            }
            if($('.acompanhamento-disponivel').length > 0){
                $('.acompanhamento-disponivel').each(function() {
                    if($(this).text() == auxAcompanhamento){
                        flag = true;
                    }
                });
            }
            if(!flag)
                $("#acompanhamentosDisponiveis").append("<option class='acompanhamento-disponivel'>"+ auxAcompanhamento +"</option>");    
        });
        
        $("#wrapper").height( $(window).height() - 50); 
        $("#principal").width( $("#principal").width() + 16.5);
        //adicionar no db novo acompanhamento
        $("#addNovoAcompanhamento").click(function(){
            var acompanhamento = {};
            acompanhamento.nome = document.getElementById('novoAcompanhamento').value;
            acompanhamento.preco = $("#novoAcompanhamentoPreco").val();
            $.post("/cardapio/acompanhamento", {acompanhamento: JSON.stringify(acompanhamento), nome_cardapio: cardapio.nome}).then(function(data){
              alerta = data;
              config.type = alerta.typeMsg;
              $.bootstrapGrowl(alerta.msg, config);
              if(alerta.typeMsg == "success"){
                  cardapio.acompanhamentos.push(acompanhamento.nome);
                  $("#novoAcompanhamento").val("");
                  $("#novoAcompanhamentoPreco").val(0);
                  addAcompanhamento(acompanhamento);
              }
            });
        });
        function newCategoria(){
            var categoria = $('#txtNovaCategoria').val();
            $.post("/cardapio/categoria", {categoria: categoria, nome_cardapio: cardapio.nome}).then(function(data){
              alerta = data;
              config.type = alerta.typeMsg;
              $.bootstrapGrowl(alerta.msg, config);
              if(alerta.typeMsg == "success"){
                    cardapio.categorias.push(categoria);
                    addCategoria(categoria);
                    arrayOfPratos[categoria] = [];
                }
            });
        };
        
        $("#lista-pratos").on("click",".pratoOnList", function(e){
            var prato = JSON.parse($(this).find("span").text());
            $('#txtNome').val(prato.nome);
            $('#txtPreco').val(prato.preco);
            $('#txtDescricao').val(prato.descricao);
            $('#numeroDeAcompanhamentos').val(prato.numeroDeAcompanhamentos);
            $("#acompanhamentosDisponiveis").empty();
            if(prato.acompanhamentos.length > 0){
                for(x in prato.acompanhamentos){
                    var acompanhamento = JSON.parse(JSON.stringify(prato.acompanhamentos[x]));
                    $("#acompanhamentosDisponiveis").append("<option class='acompanhamento-disponivel'>"+ acompanhamento.nome+"/"+acompanhamento.preco +"</option>");
                }
            }else{
                $("#acompanhamentosDisponiveis").append("<option class='removerInutil'>Clique nos acompanhamentos</option>");
                $("#acompanhamentosDisponiveis").append("<option class='removerInutil'>na lateral esquerda para adicionar</option>");
                $("#acompanhamentosDisponiveis").append("<option class='removerInutil'>na lista</option>");
            }
            $("#btnSalvarPrato").text("Salvar");
            $("#btnLimpar").text("Cancelar");
            $("#txtNome").append("<span class='hidden'>"+prato.nome+"</span>");
            
        });
        
        $("#acompanhamentosDisponiveis").on("click",".acompanhamento-disponivel",function(e){
          $(this).detach();
        });
        
        
        //to add in UI
        function addPrato(prato){
          var html = '<button class="delete-prato" onclick="deletePrato('+ "'"+prato.nome+"'" +')">x</button><button type="button" class="list-group-item pratoOnList"><span class="obj hidden">'+JSON.stringify(prato)+'</span><tspan class="name hidden">'+prato.nome+'</tspan>'+prato.nome+' / R$'+ prato.preco +'</button>';
          $("#lista-pratos").append(html);
        }
        
        
        function deletePrato(prato){
          var auxCategoria = $('#categorias .active').find('a').text();
          var pratoAux;
          $(".pratoOnList").each(function(i){
              if($(this).find(".name").text() == prato){
                  pratoAux = $(this).find(".obj").text();
                  $(this).remove();
              }
          })
          $.post("/cardapio/deletePrato", {prato: pratoAux, nome_categoria: auxCategoria, nome_cardapio: cardapio.nome}).then(function(data){
              alerta = data;
              config.type = alerta.typeMsg;
              $.bootstrapGrowl(alerta.msg, config);
          });
        };
        
        function addCategoria(categoria){
            var html = '';
            if($('#categorias li').length == 1){
                html = '<li class="categoria active"><a href="#">' +categoria + '</a><button class="deletar-categoria"><p>x</p></button></li>';
            }else{
                html = '<li class="categoria"><a href="#">' +categoria + '</a><button class="deletar-categoria" onclick="deleteCategoria('+ "'"+categoria+"'" +')"><p>x</p></button></li>';
            }
            $('#categorias').append(html);
        }
        
        function deleteCategoria(categoria){
          $.post("/cardapio/deleteCategoria", {categoria: categoria, nome_cardapio: cardapio.nome}).then(function(data){
            alerta = data;
            config.type = alerta.typeMsg;
            $.bootstrapGrowl(alerta.msg, config);
            if(alerta.typeMsg == "success"){
              $('#categorias li').each(function(i){
                if($(this).find("a").text() == categoria){
                  $(this).remove();
                }
              })
              }
          });
          
        }
        function addAcompanhamento(acompanhamento){
            var html = '<li class="acompanhamento"><span class="hidden name">'+acompanhamento.nome+'</span><a href="#">' + acompanhamento.nome + '/'+ acompanhamento.preco+'</a><button class="delete-acompanhamento" onclick="deleteAcompanhamento('+ "'"+acompanhamento.nome+"'" +')">x</button></li>';
            $(".sidebar-nav").append(html);
        }
        

        function deleteAcompanhamento(acompanhamento){
          var auxCategoria = $('#categorias .active').find('a').text();

          $.post("/cardapio/deleteAcompanhamento", {acompanhamento: acompanhamento, nome_cardapio: cardapio.nome}).then(function(data){
            alerta = data;
            config.type = alerta.typeMsg;
            $.bootstrapGrowl(alerta.msg, config);
            if(alerta.typeMsg == "success"){
                $("#novoAcompanhamento").val("");
                $("#novoAcompanhamentoPreco").val(0);
                $(".acompanhamento").each(function(i){
                    if($(this).find(".name").text() == acompanhamento){
                        $(this).remove();
                    }
                });
                resetForm();
            }
          });
          
        }
