extends ../layout
block title
    title Hestia - Cardapios
    link(rel='stylesheet', href='/stylesheets/cardapio.css', type='text/css')


block content
    section#about
        div.modal.fade#modalNewCardapio(role="dialog")
            div.modal-dialog.modal-sm
                div.modal-content
                    div.modal-header
                        button.close(type="button" data-dismiss="modal") &times;
                        h4.modal-title Clonar cardapio
                    div.modal-body
                        form(role="form")
                            div.form-group
                                label(for="nome") Nome:
                                input.form-control(type="text")#txtNovoCardapio
                                input.form-control.hidden(type="text")#txtCardapioClone
                            button.btn.btn-default(type="button" data-dismiss="modal" onclick="clonarCardapio()") Clonar
        h2.section-heading.text-left Cardapios 
            br
            small Organize seus cardapios.
        div.row
            div.col-xs-10.col-sm-8.col-md-5.col-lg-4
                div.form-group
                    input.form-control#inputNovoCardapio(type="text" placeholder="Nome do novo cardapio")
            div.col-xs-2.col-sm-4.col-md-4.col-lg-3
                button.btn.btn-default#btnNewCardapio(type="button") Adicionar
        div#container-cardapio

block footer
    script.
        var cardapios;
        $(document).ready(function(){
            cardapios = !{lista_cardapio};
            
            for(x in cardapios){
                addCardapio(cardapios[x]);
            }
        });
        $("#btnNewCardapio").click(function(){
            
            var flag = true;
            for(x in cardapios){
                if(cardapios[x].nome == $("#inputNovoCardapio").val()){
                    //TROCA PELO ALERT
                    alert("Nome duplicado !");
                   flag = false;
                   break;
                }
            }
            if(flag){
                $.post("/cardapio/novo",{"nome": $("#inputNovoCardapio").val()}).then(function(data){
                    $("#inputNovoCardapio").val("");
                    alerta = data.alert;
                    if (alerta.typeMsg != "null")
                    {
                      msg = alerta.msg;
                      config.type= alerta.typeMsg;
                      $.bootstrapGrowl(msg, config);
                    }
                    if (alerta.typeMsg == "success")
                        addCardapio(data);
                })
            }
        });
        $(document).on('mouseover', '.panel-hestia', function(e) {
            $(this).find("#btnDuplicar").removeClass('hidden');
        });
        $(document).on('mouseout', '.panel-hestia', function(e) {
            $(this).find("#btnDuplicar").addClass('hidden');  
        });
        $("#container-cardapio").on('click', '.panel-hestia', function(e){
            if(e.target.nodeName != "DIV"){
                $('#modalNewCardapio').modal({
                   show: 'true'
               });
               $("#txtNovoCardapio").val($(this).find(".panel-body").text()+"2");
               $("#txtCardapioClone").val($(this).find(".panel-body").text());
               
            }else{
                location.href="/cardapio/editar/" + $(this).find(".panel-body").text();
            }
        });
        
        function clonarCardapio(){
            var flag = true;
            for(x in cardapios){
                if(cardapios[x].nome == $("#txtNovoCardapio").val()){
                    //TROCA PELO ALERT                    
                    config.type = 'warning';
                    $.bootstrapGrowl("<b>Nome Duplicado</b><br>Escolha outro nome para a copia", config);
                   flag = false;
                   break;
                }
            }
            if(flag){
                $.post("/cardapio/clonar",{"nome_clonar": $("#txtCardapioClone").val(), "novo_cardapio": $("#txtNovoCardapio").val()}).then(function(data){
                  alerta = data.alert;
                  config.type = alerta.typeMsg;
                  debugger;
                  $.bootstrapGrowl(alerta.msg, config);
                  if(alerta.typeMsg == "success"){
                    cardapios.push(data);
                    addCardapio(data);
                    $("#txtNovoCardapio").val("");
                  }
                });
            }
        }
        
        function addCardapio(cardapio){
            var html = "<div class='col-xs-12 col-sm-6 col-md-3 col-lg-3'><div class='panel panel-hestia'>";
            html += "<div class='panel-body'>" + cardapio.nome + "</div>";
            html += "<button id='btnDuplicar' class='btn btn-default hidden' type='button'>Duplicar</button>";
            html += "<div class='panel-footer'>Categorias cadastradas: " + cardapio.categorias.length + "</div></div></div>";
            $("#container-cardapio").append(html);
        }
