extends ../layout

block title
    title Hestia - Adicionar Funcionario

block content
    section  
      .alert.alert-warning.alert-dismissible.fade.in(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
        strong Erro!
        |  Erro ao realizar o cadastro de funcionário
        
      .container
        h2.section-heading.text-center
          | Funcionário
          br
          small Cadastro de funcionários que irão utilizar o sistema
        hr
        .row
        .row
          form(method='post')
            .col-sm-6.col-sm-offset-3
              .form-group.col-sm-12
                input#nome-funcionario.form-control(type='text', required='', name='nomeFunc', placeholder='Nome do Funcionário')
              .form-group.col-sm-12
                input#login-funcionario.form-control(type='text', required='', name='login', placeholder='Login')
              .form-group.col-sm-12
                input#senha-funcionario.form-control(type='password', required='', pattern= '(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$', size='8', maxlength='12', name='senha', placeholder='Senha')
              .form-group.col-sm-12
                select.col-sm-12.selectpicker.form-control(multiple='', name = 'privilegio')
                  option(data-content="<span class='label label-success'>Administrativo</span>") Administrativo
                  option(data-content="<span class='label label-info'>Cardápio</span>") Cardápio
                  option(data-content="<span class='label label-warning'>Funcionário</span>") Funcionário
                  option(data-content="<span class='label label-danger'>Cozinha</span>") Cozinha
              br
              br
              .col-sm-2
                a.btn.btn-default(href='/funcionario') Voltar
              .col-sm-2.col-sm-offset-7
                input.btn.btn-default(type = 'submit', value='Cadastrar')
block footer
  script.
    $('.alert').hide();
    var url = window.location.href;
    if(alerta.typeMsg=="danger")
    {
      var funcionario = !{funcionario};
      var nomeFunc = $("#nome-funcionario").val(funcionario.nome);
      var loginFunc = $("#login-funcionario").val(funcionario.login);
      var senhaFunc = $("#senha-funcionario").val(funcionario.senha);   
    }
