extends ../layout
block title
  title Hestia - Detalhes Funcionario

block content
  body
    .panel.panel-primary
      .panel-heading Detalhes
      .panel-body
        .col-sm-8.col-sm-offset-2
          table.table.table-striped
            tr
              th Nome
              td [nome]
            tr
              th Login
              td [login]
