extends ../layout
block title
    title Hestia - Editar Funcionario
    
block content
  section   
    .alert.alert-warning.alert-dismissible.fade.in.hidden#fail(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
      strong Erro!
      |  Falha ao editar Funcionário!
    .container
      h2.section-heading.text-center
        | Funcionário
        br
        small Edição do cadastro de 
          strong
            span#nomeFuncSpan
      hr
      .row
      .row
        form(method='post')
          .col-sm-6.col-sm-offset-3
            .form-group.col-sm-12
              input#id-funcionario.form-control.hidden(type='text', required='', name='idFunc')
            .form-group.col-sm-12
              input#nome-funcionario.form-control(type='text', required='', name='nomeFunc')  
            .form-group.col-sm-12
              input#login-funcionario.form-control(type='text', required='', name='login', placeholder='Login')
            .form-group.col-sm-12
              input#senha-funcionario.form-control(type='password', required='', pattern= '(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$' , size='8', maxlength='12', name='senha', placeholder='Senha')
            br
            br
            .col-sm-2
              a.btn.btn-default(href='/funcionario') Voltar
            .col-sm-2.col-sm-offset-7
              input.btn.btn-default(type='submit', value='Salvar')
              
block footer
  script.
    function urlParams(name){
      var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
      return results[1] || 0;
    }
    function editFunc(){
      var idFunc = $('#id-funcionario').val(urlParams('id'));
      var nomeFunc = $("#nome-funcionario").val(response.nome);
      var loginFunc = $("#login-funcionario").val(response.login);
      var senhaFunc = $("#senha-funcionario").val(response.senha);    
    }
    if(urlParams('id') != false){
      $.get('http://localhost:3000/funcionario/getFuncionario/'+urlParams('id'),function(response){
        $('#id-funcionario').val(urlParams('id'));
        $("#nome-funcionario").val(response.nome);
        $("#login-funcionario").val(response.login);
        $("#senha-funcionario").val(response.senha);
        $("#nomeFuncSpan").text(response.nome);         
      });
    }
    if(url.indexOf("&status=fail") != -1){
      $("#fail").removeClass("hidden");
    }
    
    
