extends ../layout

block title
    title Hestia - Funcionarios

block content
    section
      .col-sm-2.col-sm-offset-10
        a.btn.btn-default.glyphicon.glyphicon-plus(href='/funcionario/criar')  Novo
      div.col-sm-8.col-sm-offset-2
        table.table.table-striped#lista-funcionarios
          tr
            th Nome
            th Ações
          tr.linha-tabela.hidden
            td [nome]
            td [login]
            td
              a.btn.btn-default(href='/funcionario/editar')
                i.fa.fa-pencil(aria-hidden='true')
              a#detalhe.btn.btn-default(href='/funcionario/detalhes')
                i.fa.fa-list(aria-hidden='true')
block footer
    script.
        $.get('http://localhost:3000/funcionario/getFuncs',function(response){
            for( x in response.funcionarios){
                
                var html = '<tr><td>'+response.funcionarios[x].nome+'</td>'+
                            '<td><a class="btn btn-default" href="/funcionario/editar?id='+ response.funcionarios[x].id+'"><i class="fa fa-pencil" aria-hidden="true"></i></a>'+
                            '<a id="detalhe"class="btn btn-default" href="/funcionario/detalhes?id='+ response.funcionarios[x].id+'"><i class="fa fa-list" aria-hidden="true"></i></a></td>';
                $("#lista-funcionarios").append(html);
            }
        });
    
