extends ../layout

block title
    title Hestia - Funcionarios

block content
    section
      .col-sm-2.col-sm-offset-10
        a.btn.btn-default.glyphicon.glyphicon-plus(href='/funcionario/criar')  Novo
      .col-sm-8.col-sm-offset-2
        table.table.table-striped
          tr
            th Nome
            th Login
            th Ações
          tr
            td [nome]
            td [login]
            td
              a.btn.btn-default(href='/funcionario/editar')
                i.fa.fa-pencil(aria-hidden='true')
              a#detalhe.btn.btn-default(href='/funcionario/detalhes')
                i.fa.fa-list(aria-hidden='true')
    
