extends ../layout

block title
    title Hestia - Funcionarios
 
block content
    section
      // Modal
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title Detalhes
            #modalConteudo.modal-body
      .alert.alert-success.alert-dismissible.fade.in.hidden#cadastrado(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
        strong Cadastrado!
        |  Funcionário cadastrado com sucesso!
      .alert.alert-success.alert-dismissible.fade.in.hidden#editado(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
        strong Editado!
        |  Funcionário editado com sucesso!
      .col-sm-2.col-sm-offset-10
        a.btn.btn-default.glyphicon.glyphicon-plus(href='/funcionario/criar')  Novo
      div.col-sm-8.col-sm-offset-2
        table.table.table-striped#lista-funcionarios
          tr
            th.col-sm-10 Nome
            th.col-sm-2 Ações
          //tr.linha-tabela.hidden
            //td [nome]
            //td [login]
            //td
            //  a.btn.btn-default(href='/funcionario/editar')
            //    i.fa.fa-pencil(aria-hidden='true')
            //  button#detalhe.btn.btn-default
            //    i.fa.fa-list(aria-hidden='true')
block footer
    script.
        $.get('http://localhost:3000/funcionario/getFuncs',function(response){
            for( x in response.funcionarios){
              debugger;
              var ativo = response.funcionarios[x].ativo;
              if(response.funcionarios[x].ativo){
                var html = '<tr><td>'+response.funcionarios[x].nome+'</td>'+
                            '<td>'+
                              '<a class="btn btn-default" href="/funcionario/editar?id='+ response.funcionarios[x].id+'"><i class="fa fa-pencil" aria-hidden="true"></i></a>'+
                              '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-id="'+ response.funcionarios[x].id+'"><i class="fa fa-list" aria-hidden="true"></i></button>'+
                              '<button type="button" onClick="deletar('+"'"+response.funcionarios[x].id+"'"+')" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i></button>'+
                            '</td>';
              }else{
                var html = '';
              }
              $("#lista-funcionarios").append(html);
            }
        });
        var url = window.location.href;
        var id = 'x';
        if(url.indexOf("?status=cadastrado") != -1){
          $("#cadastrado").removeClass("hidden");
        }else if(url.indexOf("?status=editado") != -1){
          debugger;
          $("#editado").removeClass("hidden");
        }
        $('#myModal').on('show.bs.modal', function (event) {
          debugger;
          var button = $(event.relatedTarget) // Button that triggered the modal
          id = button.data('id') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          $('#modalConteudo').load('/funcionario/detalhes?id='+id);
        })
        $("#deletar").click(function(){
            alert("The paragraph was clicked.");
        });
        function deletar(idUsuario){
          debugger;
          $.get('http://localhost:3000/funcionario/delete/'+idUsuario,function(response){
          });
        }
        
        
        
     
